version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - 3000:3000
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/dugongs?schema=public
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - ./backups:/app/backups
    depends_on:
      - db
      - ollama

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dugongs
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  ollama:
    image: ollama/ollama:latest
    restart: always
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - 11434:11434

volumes:
  db_data:
  ollama_data:
